
        .navbar {
  background-color: #FFE500;
  padding: 25px;
  text-align: center;
  font-size: 35px;
  color: white;
       }
       
       /* Gaya untuk navbar */
       .navbar {
            display: flex; /* Menggunakan Flexbox untuk menempatkan item secara horizontal [1] */
            justify-content: space-between; /* Menempatkan logo di kiri dan tautan di kanan [1] */
            align-items: center; /* Menyelaraskan item secara vertikal di tengah */
            padding: 20px 5%;
        }

       .logo {
            display: flex;
            align-items: center;
        }

       .logo-img {
            height: 100px; /* Atur tinggi logo */
            margin-right: 10px;
            margin-left: 90px;
            border-radius: 100px;
        }

       .brand-name {
            font-size: 24px;
            font-weight: bold;
        }

       .nav-links {
            display: flex;
            align-items: center;
        }

       .nav-link {
           background-color: #ffffff; /* Warna oranye/kuning yang menonjol */
            color: #000000;
            border: none;
            padding: 15px 35px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

       .nav-link:hover {
            color: #23212170; /* Warna aksen kuning saat hover */
        }

       .btn-primary {
        margin-left: 1rem;
        margin-right: 90px;
            background-color: #000; /* Warna oranye/kuning yang menonjol */
            color: #ffffff;
            border: none;
            padding: 15px 35px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

       .btn-primary:hover {
            background-color: #2e2517; /* Sedikit lebih gelap saat hover */
        }

        * {
        box-sizing: border-box;
        }

  body {
       font-family: Arial, Helvetica, sans-serif;
       }

       /* Style the header */

  
      body {
            margin: 0;
            font-family: 'Cooper Hewitt', sans-serif;
            background-color: #ffffff;
            color: #fff;
        }

      /* Menu desktop */
      .menu {
        display: flex;
        gap: 2rem;
      }
      .menu a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
        transition: color 0.2s;
      }
      .menu a:hover {
        color: #bbbbbb;
      }

      section {
        display: flex;
        text-align: right;
  font-size: 28px;
  color: white;
      }

      section {
  background-color: #000000;
  padding: 40px;
 
  
       }

       .section-logo-image10 {
            display: flex;
            align-items: right;
        }

       .section-logo-image10 {
        height: 330px;
            margin-right: 10px;
            margin-left: 300px;
            border-radius: 100px;
       }
    
.base {
 font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: #000;
            margin-left: 10px;
        }


.menu-container {
  display: flex;
  justify-content: space-around; /* Menyebarkan item secara merata dengan ruang di antaranya */
  align-items: center; /* Meratakan item secara vertikal */
  gap: 2px; /* Memberi jarak antar setiap card */
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card p {
  color: #000;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  gap: 20px; /* Memberi jarak antar setiap card */
  padding: 10px;
}

.menu-card {
  /* Properti untuk border-radius dan styling card */
  border: 10px solid #000000;
  border-radius: 20px;
}

.menu-image {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.menu-details H3 {
  text-align: center;
  color: #000;
}

.menu-details p {
  text-align: center;
  color: #000000;
}

.menu-details .btn {
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu-details .btn button {
  border: 1px #000000;
  color: #ffffff;
  background-color: #000000;
padding: 10px 24px;
border-radius: 10px;
margin-bottom: 10px;
}

.base1 {
 font-size: 20px;
            font-weight: bold;
            text-align: left;
            color: #000;
            margin-left: 40px;
            padding-top: 100px;
        }

.menu-container1 {
  display: flex;
  justify-content: space-around; /* Menyebarkan item secara merata dengan ruang di antaranya */
  align-items: center; /* Meratakan item secara vertikal */
  gap: 2px; /* Memberi jarak antar setiap card */
}



.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
  padding: 2px 16px;
}

.card1 p {
  color: #000;
}

.menu-container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  gap: 20px; /* Memberi jarak antar setiap card */
  padding: 20px;
  padding-left: 140px;
}

.menu-image1 {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.menu-details1 H3 {
  text-align: left;
  color: #000;
  padding-left: 30px;
}

.basee2 {
 font-size: 20px;
font-weight: bold;
text-align: left;
color: #000;
margin-left: 40px;
padding-top: 100px;
}

.menu-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  gap: 10px; /* Memberi jarak antar setiap card */
  padding: 10px;
}


.menu-details2 H3 {
  text-align: center;
  color: #000;
}

.menu-details2 p {
  text-align: center;
  color: #000000;
}

.menu-details2 .btn {
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu-details2 .btn button {
  border: 1px #000000;
  color: #ffffff;
  background-color: #000000;
padding: 15px 70px;
border-radius: 10px;
margin-bottom: 10px;
}

.menu-container2e {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  gap: 50px; /* Memberi jarak antar setiap card */
  padding: 10px;
  padding-left: 130px;
}

.menu-image2e {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.menu-details2e H3 {
  text-align: left;
  color: #000;
  padding-left: 30px;
}

.base3 {
 font-size: 20px;
font-weight: bold;
text-align: left;
color: #000;
margin-left: 40px;
padding-top: 50px;
}



.menu-container3 {
  display: flex;
  justify-content: space-around; /* Menyebarkan item secara merata dengan ruang di antaranya */
  align-items: center; /* Meratakan item secara vertikal */
  gap: 2px; /* Memberi jarak antar setiap card */
}



.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover3 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container3 {
  padding: 2px 16px;
}

.card3 p {
  color: #000;
}

.menu-container3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
  gap: 20px; /* Memberi jarak antar setiap card */
  padding: 20px;
  padding-left: 140px;
}

.menu-image3 {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.menu-details3 H3 {
  text-align: left;
  color: #000;
  padding-left: 30px;
}

body {
  display: grid;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}